<!--网站主标题页面部分-->
<li class="z-head-news_item bold">
 <a href="https://www.sohu.com/a/474790409_362042?scm=1004.759017228124487680.0.0.0" target="_blank">
  [热点]国家统计局： 6月制造业PMI为50.9%，延续稳定扩张态势
 </a>
</li>

<!--网站新闻页面内容-->
<!DOCTYPE html>
<html data-log-pv='{"mpc":15}'>
<head>
<title>国家统计局： 6月制造业PMI为50.9% 延续稳定扩张态势_指数</title>
<meta content="no-transform" http-equiv="Cache-Control"/>
<meta content="no-siteapp" http-equiv="Cache-Control"/>
<meta content="Copyright © 2017 Sohu.com Inc. All Rights Reserved." name="copyright"/>
<meta content="央广网" name="mediaid"/>
<meta content="news" property="og:type"/>
<meta content="${mpNews.image}" property="og:image"/>
<meta content="www.sohu.com/a/474790409_362042" property="og:url"/>
<meta content="2021-06-30 09:32" property="og:release_date"/>
<meta content="2021-06-30 09:32" itemprop="dateUpdate"/>
<meta content="2021-06-30 09:32" itemprop="datePublished"/>
<link href="http://www.sohu.com/a/474790409_362042" rel="canonical"/>
<link href="m.sohu.com/a/474790409_362042" media="only screen and(max-width: 640px)" rel="alternate"/>
<meta content="区间,活动,态势,指数,高于,制造业,百分点,扩张,赵庆河,行业,指数,制造业,百分点,景气,赵庆河" name="keywords"/>
<meta content=" 赵庆河指出，6月份，中国制造业采购经理指数、非制造业商务活动指数和综合PMI产出指数分别为50.9%、53.5%和52.9%，比上月回落0.1、1.7和1.3个百分点，但均持续位于临界点以上，我国经济运…" name="description"/>
<meta content=" 赵庆河指出，6月份，中国制造业采购经理指数、非制造业商务活动指数和综合PMI产出指数分别为50.9%、53.5%和52.9%，比上月回落0.1、1.7和1.3个百分点，但均持续位于临界点以上，我国经济运…" property="og:description"/>
<meta content="国家统计局： 6月制造业PMI为50.9% 延续稳定扩张态势_指数" property="og:title"/>
<meta charset="utf-8"/>
<meta content="smpc" name="data-spm"/>
<meta content="webkit" name="renderer"/>
<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1,maximum-scale=1" name="viewport"/>
<link href="//statics.itc.cn/web/static/images/pic/sohu-logo/favicon.ico" rel="icon" type="image/x-icon"/>
<link href="//statics.itc.cn/web/static/images/pic/sohu-logo/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="//statics.itc.cn/web/static/images/pic/sohu-logo/logo-57.png" rel="apple-touch-icon" sizes="57x57"/>
<link href="//statics.itc.cn/web/static/images/pic/sohu-logo/logo-72.png" rel="apple-touch-icon" sizes="72x72"/>
<link href="//statics.itc.cn/web/static/images/pic/sohu-logo/logo-114.png" rel="apple-touch-icon" sizes="114x114"/>
<link href="//statics.itc.cn/web/static/images/pic/sohu-logo/logo-144.png" rel="apple-touch-icon" sizes="144x144"/>
<link href="//statics.itc.cn/web/static/css/main-5ce91f2762.css" rel="stylesheet"/>
<script>
    //  加载监控代码
</script>
<!--[if lt IE 9]>
<script src="//statics.itc.cn/web/static/js/es5-shim-08e41cfc3e.min.js"></script>
<script src="//statics.itc.cn/web/static/js/es5-sham-1d5fa1124b.min.js"></script>
<script src="//statics.itc.cn/web/static/js/html5shiv-21fc8c2ba6.js"></script>
<link href="//statics.itc.cn/web/static/css/ie8hack-9dce3c3b96.css" rel="stylesheet" />
<![endif]-->
<script type="text/javascript">
//解決IE8,IE9不支持console的问题
(function() {
    var method;
    var noop = function() {};
    var methods = [
        'assert', 'clear', 'count', 'debug', 'dir', 'dirxml', 'error',
        'exception', 'group', 'groupCollapsed', 'groupEnd', 'info', 'log',
        'markTimeline', 'profile', 'profileEnd', 'table', 'time', 'timeEnd',
        'timeStamp', 'trace', 'warn'
    ];
    var length = methods.length;
    var console = (window.console = window.console || {});

    while (length--) {
        method = methods[length];

        // Only stub undefined methods.
        if (!console[method]) {
            console[method] = noop;
        }
    }
}());
</script>
<script type="text/javascript">
    (function () {
        var html = document.getElementsByTagName("html")[0];
        var width = Math.min(document.documentElement.clientWidth, 790);
        width = width < 320 ? 320 : width;
        if (document.documentElement.clientWidth <= 1024) {
            html.style.fontSize = width / 790 * 79 + 'px';
        }
        if (window.addEventListener) {
            window.addEventListener('resize', resizeHandler);
        }
        else if (window.attachEvent) {
            window.attachEvent('onresize', resizeHandler);
        }
        function resizeHandler() {
            if (document.documentElement.clientWidth <= 1024) {
                var width = Math.min(document.documentElement.clientWidth, 790);
                width = width < 320 ? 320 : width;
                html.style.fontSize = width / 790 * 79 + 'px';
            } else {
                html.style.fontSize = "16px";
            }
        };
    })();
</script>
<script type="text/javascript">
                        window.feedbackQuestion = [{"score":1.0,"question":{"selection":[1001,1007,1008,1009],"id":4}}]
                    </script>
</head>
<body class="article-page" data-newsid="474790409" data-region="144" data-spm="content">
<div class="wrapper-box">
<header class="error-head" id="main-header">
<div class="area">
<div class="head-nav left" data-spm="nav">
<ul>
<li class="index"><a class="clearfix" data-clev="10220248" href="http://www.sohu.com" target="_blank"><em class="icon-home icon"></em><em class="sohu-logo">搜狐首页</em></a></li>
<li><a data-clev="10220249" href="http://news.sohu.com/" target="_blank">新闻</a></li>
<li><a data-clev="10220250" href="http://sports.sohu.com/" target="_blank">体育</a></li>
<li><a data-clev="10220251" href="http://auto.sohu.com/" target="_blank">汽车</a></li>
<li><a data-clev="10220252" href="http://www.focus.cn/" target="_blank">房产</a></li>
<li><a data-clev="10220253" href="http://travel.sohu.com/" target="_blank">旅游</a></li>
<li><a data-clev="10220254" href="http://learning.sohu.com/" target="_blank">教育</a></li>
<li><a data-clev="10220255" href="http://fashion.sohu.com/" target="_blank">时尚</a></li>
<li><a data-clev="10220256" href="http://it.sohu.com/" target="_blank">科技</a></li>
<li><a data-clev="10220257" href="http://business.sohu.com/" target="_blank">财经</a></li>
<li><a data-clev="10220258" href="http://yule.sohu.com/" target="_blank">娱乐</a></li>
<li class="more-nav"><a class="more-tag" href="javascript:void(0)">更多<em class="cor"></em></a>
<div class="more-nav-box">
<a href="http://baobao.sohu.com/">母婴</a>
<a href="http://health.sohu.com/">健康</a>
<a href="http://history.sohu.com/">历史</a>
<a href="http://mil.sohu.com/">军事</a>
<a href="http://chihe.sohu.com/">美食</a>
<a href="http://cul.sohu.com/">文化</a>
<a href="http://astro.sohu.com/">星座</a>
<a href="https://www.sohu.com/subject">专题</a>
<a href="http://game.sohu.com/">游戏</a>
<a href="http://fun.sohu.com/">搞笑</a>
<a href="http://acg.sohu.com/">动漫</a>
<a href="http://pets.sohu.com/">宠物</a>
</div>
</li>
</ul>
</div>
<div class="right login" id="head-login">
</div>
</div>
</header> <div class="location-without-nav"></div>
<div class="area clearfix" id="article-container">
<div class="column left">
<div class="user-info" data-spm="author" id="user-info">
<div class="user-pic">
<!-- fromWhere为10是马甲号作者不可点击进入个人页面 -->
<a href="https://mp.sohu.com/profile?xpt=c29odXptdGczYmNueWZAc29odS5jb20=&amp;_f=index_pagemp_1" target="_blank">
<img alt="" src="//p3.itc.cn/mpbp/pro/20210624/201c0e9c186541bc938a01592d7f0829.jpeg"/>
</a>
</div>
<h4>
<a href="https://mp.sohu.com/profile?xpt=c29odXptdGczYmNueWZAc29odS5jb20=&amp;_f=index_pagemp_1" target="_blank">央广网</a>
</h4>
<!-- 积分 -->
<div class="fox-wrap" id="fox-integration">
<div class="fox-head-wrap" data-grade="tag">
<span class="fox-logo fox-zuan">
</span>
</div>
<div class="fox-hover-wrap" data-grade="grade">
<div class="fox-each-wrap fox-each-zuan">
<p class="fox-content">
                        由内容质量、互动评论、分享传播等多维度分值决定，勋章级别越高(
                        <span class="fox-grade"></span>
                        )，代表其在平台内的综合表现越好。
                    </p>
</div>
</div>
</div>
<dl class="user-num">
<dd><span class="value" data-role="info-article-num" data-value="473355"><em class="num"></em></span>文章</dd>
<dd><span class="value" data-role="info-read-num" data-value=""><em class="num"></em></span>总阅读</dd>
</dl>
<!-- 企业认证 -->
<ul class="company">
</ul>
<!-- 非马甲号作者 -->
<div class="user-more">
<a href="https://mp.sohu.com/profile?xpt=c29odXptdGczYmNueWZAc29odS5jb20=&amp;_f=index_pagemp_2" target="_blank">查看TA的文章&gt;</a>
</div>
</div> <div class="article-do" data-spm="share" id="article-do">
<div class="article-done">
<div class="title">评论</div>
<dl>
<dd class="comment-do"><a data-spm-acode="8089" href="#comment_area"><em class="comment-icon icon"></em><span class="num" data-role="comment-count"></span></a></dd>
<!--<dd class="zan-do" data-role="like-btn"><a href="javascript:void(0)"><span class="num" data-role="like">0</span><em class="icon zan-icon"></em></a>

            <span class="add-one">+1</span>
        </dd>-->
</dl>
</div>
<div class="share" id="share">
</div>
</div>
</div> <div class="left main">
<div data-spm="content">
<div class="text">
<div class="text-title">
<h1>
                    国家统计局： 6月制造业PMI为50.9% 延续稳定扩张态势
                <span class="article-tag">
</span>
</h1>
<div class="article-info">
<span class="time" data-val="1625016755000" id="news-time">2021-06-30 09:32</span>
<span data-role="original-link">来源:
                            <a href="http://www.cnr.cn/jingji/2014jingji/djbd/20210630/t20210630_525524520.shtml" target="_blank">央广网</a> </span>
</div>
</div>
<article class="article" id="mp-editor">
<!-- 政务处理 -->
<p data-role="original-title" style="display:none">原标题：国家统计局： 6月制造业PMI为50.9% 延续稳定扩张态势</p>
<p>央广网北京6月30日消息（记者 张圣琪）6月份，中国制造业采购经理指数（PMI）为50.9%，较上月微落0.1个百分点，继续位于临界点以上，制造业延续稳定扩张态势。</p>
<p>6月30日，国家统计局服务业调查中心和中国物流与采购联合会发布了中国采购经理指数。对此，国家统计局服务业调查中心高级统计师赵庆河进行了解读。</p>
<p>赵庆河指出，6月份，中国制造业采购经理指数、非制造业商务活动指数和综合PMI产出指数分别为50.9%、53.5%和52.9%，比上月回落0.1、1.7和1.3个百分点，但均持续位于临界点以上，我国经济运行继续保持扩张态势。</p>
<p style="text-align: center;"><img src="https://p3.itc.cn/q_70/images03/20210630/e88cfab0d6dd4d9f8ea9f5c3fe58737a.jpeg" width="700"/></p>
<p style="text-align: center;">（图源自CFP）</p>
<p>制造业采购经理指数运行平稳</p>
<p>赵庆河称，6月份，制造业采购经理指数微落0.1个百分点，继续位于景气区间，制造业保持平稳扩张。本月主要特点：</p>
<p>一是供需两端一降一升。生产指数为51.9%，比上月回落0.8个百分点，近期部分企业生产活动受到芯片、煤炭、电力供应紧张以及设备检修等因素影响，生产扩张放缓。新订单指数为51.5%，比上月小幅上升0.2个百分点，反映市场需求保持增长。本月各行业表现差异较大，纺织服装服饰、医药等行业生产指数和新订单指数均位于56.0%及以上较高景气区间，且高于上月2.0个百分点以上，产需增长较快。石油煤炭及其他燃料加工、黑色金属冶炼及压延加工等行业两个指数均降至临界点以下，行业景气水平下降；汽车制造业两个指数连续两个月位于收缩区间，“缺芯”等因素给行业发展带来不利影响。</p>
<p>二是进出口指数有所下降。新出口订单指数为48.1%，低于上月0.2个百分点，表明制造业国外订货量回落，其中农副食品加工、黑色金属冶炼及压延加工、有色金属冶炼及压延加工等行业新出口订单指数低于43.0%，回落幅度较大。进口指数落至临界点以下，为49.7%，低于上月1.2个百分点，反映制造业生产用原材料进口量较上月有所减少。</p>
<p>三是价格指数高位回落。近期出台的一系列“保供稳价”政策效果显现，制造业价格快速上涨得到初步遏制。本月主要原材料购进价格指数和出厂价格指数均由升转降，分别为61.2%和51.4%，低于上月11.6和9.2个百分点。从主要原材料购进价格指数看，除石油煤炭及其他燃料加工业继续攀升外，其他行业均明显回落。从出厂价格指数看，大部分行业均有不同程度回落，其中黑色金属冶炼及压延加工业、有色金属冶炼及压延加工业下降幅度较大，均落至收缩区间；但石油煤炭及其他燃料加工业仍高于70.0%，产品出厂价格继续上升。</p>
<p>四是不同规模企业PMI总体稳定。大、中型企业PMI分别为51.7%和50.8%，低于上月0.1和0.3个百分点，继续保持在扩张区间。小型企业PMI为49.1 %，高于上月0.3个百分点，虽仍位于收缩区间，但景气度有所改善。</p>
<p>五是消费品制造业景气度上升。受市场需求回暖及年中促销活动等因素带动，本月消费品制造业PMI升至近5个月以来的高点，为52.2%，高于上月1.6个百分点。其中，生产指数和新订单指数分别为53.9%和54.6%，高于上月1.0和3.5个百分点，行业生产和需求扩张加快。</p>
<p>非制造业商务活动指数有所回落</p>
<p>6月份，非制造业商务活动指数为53.5%，低于上月1.7个百分点，非制造业延续扩张态势，但扩张力度有所减弱。</p>
<p>服务业保持恢复态势。“受个别地区局部疫情等因素影响，服务业商务活动指数回落至52.3%，低于上月2.0个百分点，但仍高于临界点，显示服务业稳步恢复态势不改。”赵庆河说，从行业情况看，受“618”年中促销活动带动，本月与线上消费密切相关的邮政快递、电信广播电视及卫星传输服务、互联网软件及信息技术服务等行业商务活动指数均位于57.0%以上较高景气区间，业务总量增长较快；货币金融服务、保险业均升至60.0%以上高位景气区间，业务活动明显加快。此外，航空运输、住宿、餐饮等行业商务活动指数降至临界点以下，市场活跃度降低。从市场预期看，业务活动预期指数为60.4%，继续保持在高位景气区间，且高于近年同期水平，反映服务业企业对市场发展前景持续看好。</p>
<p>建筑业在高位景气区间平稳运行。建筑业商务活动指数为60.1%，与上月持平，连续两个月位于高位景气区间，建筑业保持较快增长。从价格情况看，建筑业投入品价格指数、销售价格指数分别降至51.7%和52.0%，其中投入品价格指数大幅下降21.9个百分点至9个月以来的低点，建筑业成本上涨压力有所缓解。</p>
<p>综合PMI产出指数继续保持扩张</p>
<p>数据显示，6月份，综合PMI产出指数为52.9%，低于上月1.3个百分点，表明我国企业生产经营活动总体保持扩张，但力度有所减弱。构成综合PMI产出指数的制造业生产指数和非制造业商务活动指数分别为51.9%和53.5%。<a href="//www.sohu.com/?strategyid=00001 " id="backsohucom" style="white-space: nowrap;" target="_blank" title="点击进入搜狐首页"><span class="backword"><i class="backsohu"></i>返回搜狐，查看更多</span></a></p> <!-- 政务账号添加来源标示处理 -->
<!-- 政务账号添加来源标示处理 -->
<p data-role="editor-name">责任编辑：<span></span></p>
</article>
<script>
    (function() {
        function getBrandHtml() {
            var brands = [],
            html = '';
                        for(var i = 0; i < brands.length; i++) {
                var brand = brands[i];
                if(brands.length == i+1) {
                    html+= '<a class="username-link" href="'+brand.url+'" target="_blank">'+brand.name+'</a>';
                } else {
                    html+= '<a class="username-link" href="'+brand.url+'" target="_blank">'+brand.name+'</a>、';
                }
            }
            return html;

        };
        if(document.getElementById('linkBtn')){
            document.getElementById('linkBtn').onclick = function() {
                $('#brands').removeClass('brand');
                $('#tipInfo').text('已实名回应');
                $('#linkBtn').remove();
                $('.real-response .content').css('line-height', '20px');
                $('.real-response .time').css('line-height', '20px');
            };

            document.getElementById('brands').innerHTML = getBrandHtml();
        };
    })();
</script>
<div id="atricleVote"></div>
<div class="statement">声明：该文观点仅代表作者本人，搜狐号系信息发布平台，搜狐仅提供信息存储空间服务。</div> <div class="bottom-relate-wrap clear type-3">
<!-- 点赞选择方案2，contentLike对应值为3 -->
<div class="article-like" data-like-type="type-3" id="article-like">
</div> <div class="read-wrap">
<span class="read-num">阅读 (<em data-role="pv" data-val="$articleStat.pv"></em>)</span>
</div>
</div>
<div id="sohu-play-content"></div>
</div>
</div>
<div class="article-allsee clear" id="articleAllsee">
<div class="title">
<span>
<em class="ln"></em>
            大家都在看
        </span>
</div>
<div class="allsee-list clear" data-spm="fd-link" id="allseeList">
</div>
</div> <div class="god-article-bottom" data-spm="ad-text-bottom" id="god_bottom_banner" style="display:block">
</div>
<div class="user-god clear" id="user-post" style="display:none">
</div> <div class="comment" data-abdata="1" data-spm="comment" id="comment_area">
<div id="mp-comment" sid="474790409"></div>
</div>
<div class="groom-read">
<div class="title"><span><em class="ln"></em>推荐阅读</span></div>
<!-- <div class="groom-menu clear " id="news-recommend-nav" data-spm="hottag">
<ul>     <li class="cur" data-id=""><a href="javascript:void(0)"><em class="dot"></em>推荐</a></li>
               <li data-id="" data-tag-id="57406" ><a href="//search.sohu.com/?keyword=汇率&queryType=outside">汇率</a></li>
                <li data-id="" data-tag-id="57344" ><a href="//search.sohu.com/?keyword=虚拟货币&queryType=outside">虚拟货币</a></li>
                <li data-id="" data-tag-id="77552" ><a href="//search.sohu.com/?keyword=贸易战&queryType=outside">贸易战</a></li>
                <li data-id="" data-tag-id="70659" ><a href="//search.sohu.com/?keyword=映客&queryType=outside">映客</a></li>
                <li data-id="" data-tag-id="67589" ><a href="//search.sohu.com/?keyword=苹果&queryType=outside">苹果</a></li>
                <li data-id="" data-tag-id="70661" ><a href="//search.sohu.com/?keyword=蚂蚁金服&queryType=outside">蚂蚁金服</a></li>
                <li data-id="" data-tag-id="57349" ><a href="//search.sohu.com/?keyword=微商&queryType=outside">微商</a></li>
                <li data-id="" data-tag-id="67588" ><a href="//search.sohu.com/?keyword=双十一&queryType=outside">双十一</a></li>
                <li data-id="" data-tag-id="57350" ><a href="//search.sohu.com/?keyword=第三方支付&queryType=outside">第三方支付</a></li>
                <li data-id="" data-tag-id="70662" ><a href="//search.sohu.com/?keyword=债券通&queryType=outside">债券通</a></li>
                <li data-id="" data-tag-id="70666" ><a href="//search.sohu.com/?keyword=前海人寿&queryType=outside">前海人寿</a></li>
                <li data-id="" data-tag-id="70671" ><a href="//search.sohu.com/?keyword=可燃冰&queryType=outside">可燃冰</a></li>

</ul>
</div>
 -->
<div class="news-list clear" id="main-news" style="min-height:1000px">
</div>
</div>
</div>
<div class="sidebar right" data-a="${isBaiDuAd}" id="right-side-bar">
<div class="search-right" data-spm="search-box" id="search"></div>
<div class="godA" data-spm="ad-right-sponsor" id="nav_button">
</div>
<div class="godR" data-spm="ad-sq1" id="god_1" style="display: block;">
</div>
<div data-spm="ad-sq1" id="god_1_2" style="padding:10px 20px; display: none;">
</div>
<div class="clearfix bord hot-atlas" data-role="hot-pic"></div>
<div class="clearfix hot-atlas" data-role="four-pic"></div>
<div class="godR" data-spm="ad-sq2" id="god_2" style="display:block">
</div>
<div data-spm="ad-sq2" id="god_2_2" style="padding:10px 20px; display: none;">
</div>
<div class="hot-article clear bord" data-spm="tw" id="hot-news">
</div>
<div class="godR" data-spm="ad-sq3" id="god_3" style="display:block">
</div>
<div data-spm="ad-sq3" id="god_3_2" style="padding:10px 20px; display: none;">
</div>
<div class="bord clear recommend" data-spm="mp" id="recommend-writer">
</div>
<div class="godR" data-spm="ad-sq4" id="god_4" style="display:block">
</div>
<div data-spm="ad-sq4" id="god_4_2" style="padding:10px 20px; display: none;">
</div>
<div class="article-recom right-side clear" id="sogou-words">
</div> <div data-spm="sqfive-ad" id="god_5" style="padding:10px 20px;">
</div>
<div class="pages-fun" id="pages-fun"></div>
<div class="right-fixed" id="god_fix_container" style="display:none;">
<div class="godR" data-spm="ad-sq6" id="god_fix_1" style="display: block;">
</div>
<div class="god-ad-fix" data-spm="ad-sq6" id="god_6_2" style="display: none; overflow: hidden;">
</div>
</div>
<div data-rel="#hot-news" id="fixed-view" style="z-index:2">
</div>
</div>
</div>
<div class="float-links" id="float-btn"></div> <div class="sohu-khd" data-role="wp-ad"><a class="close-khd" href="javascript:void(0)"></a><a class="download-khd" href="https://www.microsoft.com/zh-cn/store/p/%E6%90%9C%E7%8B%90uwp/9nb9229mmbjh" target="_blank"><i class="icon khd-d-icon"></i>免费获取</a></div>
<div class="pop-news" id="pop-news"></div> <div class="left-bottom-float" data-spm="ad-ss" id="left-bottom-god">
</div> </div>
<div class="sohu-mod" id="sohu-mod">
<div class="area sohu-frag">
<div class="left sohu-news">
<div class="title">今日搜狐热点</div>
<div class="list">
<ul>
</ul>
</div>
</div>
<div class="left auto-sohu">
<div class="count-down"><span>6</span>秒后</div>
<div class="go-sohu"><a href="http://www.sohu.com?strategyid=00004">进入搜狐首页</a></div>
<a class="close-sohu" href="#" target="_blank"></a>
</div>
</div>
</div>
<div class="sohu-remend" id="sohu-remend">
<div class="area sohu-remend-box">
<div class="remend-tt left">今日推荐</div>
<div class="left sohu-pp">
<ul>
</ul>
</div>
<div class="right sohu-do">
<a data-clev="10220279" href="http://www.sohu.com?strategyid=00004"><div class="go-sohu">进入搜狐首页</div></a>
<a class="feedback-link" data-clev="10220280" href="//shang.qq.com/wpa/qunwpa?idkey=04e47b9e7004c967962f52532465719ae8a30cf05413c11934ec121fb7e2dd62" target="_blank">意见反馈</a>
<a class="close-remend" data-clev="10220281" href="javascript:void(0)" target="_blank"></a>
</div>
</div>
<div class="sohu-remend-layer"></div>
</div>
<script src="//statics.itc.cn/web/static/js/lib-61587d9fb8.js"></script>
<script src="//statics.itc.cn/pc_channel_script/pc_channel_script/jquery.xdomainrequest.min.js
"></script>
<script src="//39d0825d09f05.cdn.sohucs.com/sdk/passport-4.0.3.js"></script>
<!--<script src="//statics.itc.cn/web/static/js/ie8hack-07e05e83f1.js"></script>-->
<script src="//txt.go.sohu.com/ip/soip"></script>
<script src="//statics.itc.cn/spm/prod/js/1.0.2/index.js"></script>
<script src="//statics.itc.cn/web/static/js/main-2ac0f0ed65.js"></script>
<script src="//js.sohu.com/pv.js"></script>
<script>
try{console.log("执行成功")
        window.sohu_mp.article({
        channel_id: "15",
        news_id: "474790409",
        cms_id: "$mpNews.cmsId",
        media_id: "362042",
        passport: "sohuzmtg3bcnyf@sohu.com",
        weboUrl: "https://mp.sohu.com/profile?xpt=c29odXptdGczYmNueWZAc29odS5jb20=",
        title: "国家统计局： 6月制造业PMI为50.9% 延续稳定扩张态势",
        channel_url:"//business.sohu.com",
        categoryId:"994",
        //abData_fd用于abtest
        abData:"{}",
        abData_fd:"",
        abData_tw:"",
        rightNewStyle: "0",
        originalId:"$mpNews.originalId",
        originalStatus:"0",
        hasVoteInfo: "false",
        isBaiDuAd: "",
        isPure: "${pure}",
        reprint: false,
        reprintSign: "",
        mpNewsExt:{
            "modelId":""
        }});
}
catch(e){
    var html = '<div class="err-js">' +
                '<span><em class="icon err-js-icon"></em>JS加载错误，请重新加载。</span>' +
                '<a href="javascript:window.location.reload()" target="_blank" class="cached-btn"' +
                '><em class="icon-cached"></em>刷新</a></div>';
    $(document.body).prepend(html);
    // Raven.captureException(e);
    console.error("发生错误",e);
}
</script>
<script>
    (function () {
        if(window.irs_ua === false) return
        var ra = document.createElement('script');
        ra.type = 'text/javascript';
        ra.async = true;
        ra.src = '//statics.itc.cn/iwtReport/iwt1.0.1.js'; //iwt_1.0.1.js的URL位置，请客户自行托管JS文件，修改此值
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ra, s);
    })();
</script>
<!--[if lt IE 8]>
<script type="text/javascript">
(function(){
    var ua = navigator.userAgent;
    var version;
    var html = '<div class="area clear">' +
        '<div class="ie-low">' +
        '<p>您的浏览器版本过低<br>为了更好的体验，请升级你的浏览器。</p>' +
        '<h5><a href="https://ie.sogou.com" target="_blank" class="upgrade-btn">马上升级</a></h5>' +
        '</div></div>';
    if (/MSIE ([^;]+)/.test(ua)) {
        version = parseInt(RegExp["$1"]);
        if (version<8) {
            document.body.innerHTML=html;
            var reg = new RegExp("(^| )SUV=([^;]*)(;|$)");
            var suvs = unescape(document.cookie.match(reg)[2]);
            var spv_server_src = "http://pv.sohu.com/action.gif?actionId=10078&SUV="+suvs;
            var scripts = document.createElement('script');
            scripts.src = spv_server_src;
            document.body.appendChild(scripts);
            Raven.captureException(new Error('ie'+version));
        }
    }
})()
</script>
<![endif]-->
<script src="//images.sohu.com/bill/default/sohu-require.js"></script>
<script type="text/javascript"> require(["sjs/matrix/ad/passion"]);</script>
<script src="//www.sohu.com/sohuflash_1.js" type="text/javascript"></script>
<script src="//images.sohu.com/bill/s2015/jscript/lib/sjs/matrix/ad/form/delivery.js" type="text/javascript"></script>
<script src="//images.sohu.com/bill/s2015/jscript/lib/sjs/matrix/pv/pagePVmonitor.js" type="text/javascript"></script>
<!-- <script src="//statics.itc.cn/spm/prod/js/1.0.1/index.js"></script> -->
<!-- 文章安全分低于等于10分不执行seo优化 -->
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<!-- 百度联盟广告，多条广告如下脚本只需引入一次 -->
<script async="async" defer="defer" src="https://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
</body>
</html>