<!-- 一个<li></li>中包含一个完整的影片信息 -->

<li>
            <div class="item">
                <div class="pic">
                    <em class="">227</em>
                    <a href="https://movie.douban.com/subject/25807345/">
                        <img width="100" alt="彗星来的那一夜" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2187896734.webp" class="">
                    </a>
                </div>
                <div class="info">
                    <div class="hd">
                        <a href="https://movie.douban.com/subject/25807345/" class="">
                            <span class="title">彗星来的那一夜</span>
                                    <span class="title">&nbsp;/&nbsp;Coherence</span>
                                <span class="other">&nbsp;/&nbsp;相干性  /  相干效应</span>
                        </a>


                            <span class="playable">[可播放]</span>
                    </div>
                    <div class="bd">
                        <p class="">
                            导演: 詹姆斯·沃德·布柯特 James Ward Byrkit&nbsp;&nbsp;&nbsp;主演: 艾米丽·芭尔多尼 Em...<br>
                            2013&nbsp;/&nbsp;美国 英国&nbsp;/&nbsp;科幻 悬疑 惊悚
                        </p>

                        
                        <div class="star">
                                <span class="rating45-t"></span>
                                <span class="rating_num" property="v:average">8.5</span>
                                <span property="v:best" content="10.0"></span>
                                <span>436469人评价</span>
                        </div>

                            <p class="quote">
                                <span class="inq">小成本大魅力。</span>
                            </p>
                    </div>
                </div>
            </div>
        </li>